* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #fff3e6;
    color: #503225;
    line-height: 1.6;
}

.header {
    background: #f5e0c9;
    text-align: center;
    padding: 60px 20px;
}

.header h1 {
    font-size: 40px; /* vlera fikse për bazë */
}

.header p {
    color: #6b4a3a;
}

.container {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 40px;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.info-box {
    background: #f3ebe4;
    padding: 20px;
    border-radius: 16px;
    min-height: 140px;
    text-align: center;
}

.info-image {
    grid-column: span 2;
}

.info-image img {
    width: 100%;
    height: 240px; /* vlerë fikse */
    object-fit: cover;
    border-radius: 16px;
}

.form-box {
    background: #fff;
    padding: 40px;
    border-radius: 16px;
}

.form-box h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d6c1b2;
    font-size: 14px;
}

textarea {
    height: 120px;
    resize: none;
}

.btn {
    width: 100%;
    padding: 14px;
    border-radius: 30px;
    border: none;
    background: #f6edda;
    color: #fff;
    font-size: 16px;
}

footer {
    background: #503225;
    color: #fff;
    padding: 50px 20px;
    margin-top: 80px;
    border-radius: 60px 60px 0 0;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

footer p,
footer li {
    color: #d6c1b2;
    list-style: none;
}
footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}