html, body{
    margin: 0;
    padding: 0;
    background-color: #f6edda;
    font-family:Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding-top: 20px;
}

.logo{
    width: 250px;
    height: auto;
    object-fit: cover;
}

.switch-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top:15px;
   
}

.switch {
    padding: 10px 25px;
    border: 2px solid #000;
    border-radius: 8px;
    text-decoration: none;
    color: #000;
    background-color: #f6edda;
    font-weight: bold;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    
}

.switch.active {
    background-color: #d1c7a3; 
}
* {
    box-sizing: border-box;
}

.form-box {
    width:400px;
    margin: 25px auto;
    padding: 20px;
    background-color: #fff5e1;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-box input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #777;
}

.submit-btn {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background-color: #c9bb97;
    border: none;
    border-radius: 8px;
      border: 1px solid #777;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 600px){
    .container{
        padding-top: 20px;
    }

    .logo{
        width: 150px;
        height: 90px;
    }

    .buttons{
        flex-direction: column;
        gap: 10px;
        margin-top: 50px;
    }

    .box{
        width: 70%;
        padding: 12px 0;
    }
}
