html, body{
    margin: 0;
    padding: 0;
    background-color: #f6edda;
    font-family:Arial, sans-serif;
}
* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.logo{
    width: 250px;
    height: auto;
    object-fit: cover;
     margin-bottom: 15px;
}

.switch-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top:15px;
     flex-wrap: wrap;
   
}

.switch {
    padding: 10px 25px;
    border: 2px solid #000;
    border-radius: 8px;
    text-decoration: none;
    color: #000;
    background-color: #f6edda;
    font-weight: bold;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    
}

.switch.active {
    background-color: #d1c7a3; 
}

.form-box {
    width:400px;
    max-width: 100%;
    margin: 25px auto;
    padding: 20px;
    background-color: #fff5e1;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.25);
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-box input,
.submit-btn {
    width: 100%;
    max-width: 100%;      
    box-sizing: border-box; 
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #777;
}


.submit-btn {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background-color: #c9bb97;
    border: none;
    border-radius: 8px;
      border: 1px solid #777;
    font-weight: bold;
    cursor: pointer;
}


@media (max-width: 600px) {
    .container {
        flex-direction: column; 
        align-items: center;
        padding-top: 15px;
    }

    .logo {
        width: 150px;
        height: auto;
        margin-bottom: 15px;
    }

    .switch-buttons {
        flex-direction: column; 
        gap: 10px;
        margin-top: 15px;
    }

    .form-box {
        width: 95%; 
        max-width: 400px; 
        padding: 15px;
    }

    .form-box input,
    .submit-btn {
        width: 100%;
        box-sizing: border-box;
        padding: 10px; 
        font-size: 14px;/
    }
}
